<footer>
    <div class="logo-container d-flex justify-content-center">
        <picture>
            <source type="image/webp" srcset="/assets/images/webp/polax.webp" />
            <source type="image/png" srcset="/assets/images/polax.png" />
            <img
                src="images/polax.png"
                class="footer-logo"
                alt="Polax Digital Logo"
            />
        </picture>
    </div>
    <div class="footer-menu-container">
        <ul class="footer-menu">
            <a href="/">
                <li class="nav-item">Home</li>
            </a>
            <a href="/portfolio">
                <li class="nav-item">Portfolio</li>
            </a>
            <a href="/">
                <li class="nav-item">Blog</li>
            </a>
            <a href="/contact">
                <li class="nav-item">Contact</li>
            </a>
        </ul>
    </div>

    <hr />

    <div class="content-container">
        <div class="row">
            <div class="col-md-9">
                <div class="copyright">
                    <p>&copy; 2021 Polax Digital. All Rights Reserved</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="socials">
                    <ul class="footer-menu">
                        <li class="nav-item">
                            <a
                                href="https://www.linkedin.com/company/polax-digital/"
                                target="_blank"
                                rel="noreferrer"
                            >
                                <img
                                    src="/assets/images/sc-linkedin.svg"
                                    alt="Instagram Logo"
                                    width="30"
                                    height="30"
                                />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                href="https://www.facebook.com/polaxdigital"
                                target="_blank"
                                rel="noreferrer"
                            >
                                <img
                                    src="/assets/images/sc-facebook.svg"
                                    alt="Instagram Logo"
                                    width="30"
                                    height="30"
                                />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a
                                href="https://www.instagram.com/polaxdigital"
                                target="_blank"
                                rel="noreferrer"
                            >
                                <img
                                    src="/assets/images/sc-instagram.svg"
                                    alt="Instagram Logo"
                                    width="30"
                                    height="30"
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
