<footer>
    <div class="logo-container d-flex justify-content-center">
        <picture>
            <source type="image/webp" srcset="/assets/images/webp/polax.webp">
            <source type="image/png" srcset="/assets/images/polax.png">
            <img src="images/polax.png" class="footer-logo" alt="Polax Digital Logo">
        </picture>
    </div>
    <div class="footer-menu-container">
        <ul class="footer-menu">
            <a href="#">
                <li class="nav-item">About</li>
            </a>
            <a href="#">
                <li class="nav-item">Careers</li>
            </a>
            <a href="#">
                <li class="nav-item">Help</li>
            </a>
            <a href="#">
                <li class="nav-item">Privacy Policy</li>
            </a>
        </ul>
    </div>

    <hr>

    <div class="content-container">
        <div class="row">
            <div class="col-md-9">
                <div class="copyright">
                    <p>&copy; 2021 Polax Digital. All Rights Reserved</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="socials">
                    <ul class="footer-menu">
                        <a href="https://www.linkedin.com/company/polax-digital/">
                            <li class="nav-item fab fa-linkedin-in"></li>
                        </a>
                        <a href="https://www.facebook.com/polaxdigital">
                            <li class="nav-item fab fa-facebook-f"></li>
                        </a>
                        <a href="https://www.instagram.com/polaxdigital/">
                            <li class="nav-item fab fa-instagram"></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>