<div id="contact-us" class="section">
    <div class="content-container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12">
                        <h2 class="subtitle">Say Hello</h2>
                    </div>
                </div>
                <div class="row">
                    <form
                        netlify
                        method="POST"
                        class="contact-form"
                        id="form"
                        action="/thanks/"
                    >
                        <div class="form-wrapper">
                            <div class="form-field">
                                <input
                                    type="text"
                                    name="name"
                                    id="form-name"
                                    placeholder="What's your name? *"
                                    required
                                />
                            </div>
                            <div class="form-field">
                                <input
                                    type="email"
                                    name="email"
                                    id="form-email"
                                    placeholder="What's your email? *"
                                    required
                                />
                            </div>
                            <div class="form-field">
                                <select name="budget" id="form-budget">
                                    <option
                                        value=""
                                        disabled
                                        selected
                                        id="budget-default"
                                    >
                                        What is your budget?
                                    </option>
                                    <option value="&#60; £1000">
                                        &#60; £1000
                                    </option>
                                    <option value="£1000 - £2499">
                                        £1000 - £2499
                                    </option>
                                    <option value="£2500 - £5000">
                                        £2500 - £5000
                                    </option>
                                    <option value="&#62; £5000">
                                        &#62; £5000
                                    </option>
                                    <option value="I'm not sure">
                                        I'm not sure
                                    </option>
                                </select>
                            </div>
                            <p id="contact-paragraph">
                                Tell us how we can help you
                            </p>
                            <div class="form-field">
                                <textarea
                                    type="text"
                                    name="description"
                                    id="form-description"
                                    placeholder="Your project *"
                                    required
                                ></textarea>
                            </div>
                            <input
                                type="submit"
                                value="Submit"
                                class="form-submit"
                            />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-image-wrapper">
                    <img
                        src="/assets/images/form-image.svg"
                        alt="Image of messages being sent"
                        width="500"
                        height="350"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
