<nav>
    <div class="content-container">
        <div class="nav-container">
            <div class="brand-container">
                <a href="/">
                    <picture>
                        <source type="image/webp" srcset="/assets/images/webp/polax.webp" />
                        <source type="image/png" srcset="/assets/images/polax.png" />
                        <img src="/assets/images/polax.png" alt="Polax Digital logo" height="31" />
                    </picture>
                </a>
            </div>
            <div class="menu-container">
                <ul class="nav-menu">
                    {% for nav in site.data.nav %}
                    <li
                        class="
                            nav-item
                            {%
                            if
                            nav.inturl
                            ==
                            page.url
                            %}
                            active
                            {%
                            endif
                            %}
                        "
                    >
                        <a href="{{nav.url}}">{{nav.text}}</a>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="https://app.hellobonsai.com/s/polax-digital/free-30-min" target="_blank">
                            <button class="form-submit">
                                Free consultation
                            </button>
                        </a>
                    </li>
                </ul>
                <div class="menu-toggle">
                    <label for="check" onclick="checkCheck()">
                        <input type="checkbox" id="check" />
                        <div class="hamburger"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</nav>
