<nav>
    <div class="content-container">
        <div class="nav-container">
            <div class="brand-container">
                <a href="/">
                    <img
                        src="/assets/images/polax-icon.png"
                        alt="Polax Digital icon logo"
                        height="30px"
                        id="nav-img"
                    />
                </a>
            </div>
            <div class="menu-container">
                <ul class="nav-menu">
                    {% for nav in site.data.nav %}
                    <li
                        class="
                            nav-item
                            {%
                            if
                            nav.inturl
                            ==
                            page.url
                            %}
                            active
                            {%
                            endif
                            %}
                        "
                    >
                        <a href="{{nav.url}}">{{nav.text}}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="menu-toggle">
                    <label for="check" onclick="checkCheck()">
                        <input type="checkbox" id="check" />
                        <div class="hamburger"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</nav>
