<nav>
    <div class="content-container">
        <div class="nav-container">
            <div class="brand-container">
                <img
                    src="/assets/images/polax-icon.png"
                    alt="Polax Digital icon
                logo"
                    height="30px"
                />
            </div>
            <div class="menu-container">
                <ul class="nav-menu">
                    <li class="nav-item">Home</li>
                    <li class="nav-item">About</li>
                    <li class="nav-item">Blog</li>
                    <li class="nav-item">Contact</li>
                </ul>
            </div>
        </div>
    </div>
</nav>
