:root {
    --page-colour: #fff;
    --form-grey: #f4f5f7;
    --form-default: #717171;
    --polax-orange: #ff7502;
    --orange-bgc: rgba(255, 214, 180, 0.5);
    --nav-hover: #ff9e4e;
    --form-green: #6cd899;
}

html {
    max-width: 100vw;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Della Respira", serif;
    font-weight: 400;
}

p {
    margin: 1.5rem 0;
}

.tagline-orange {
    color: var(--polax-orange);
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #000;
}

.section {
    margin-top: 5vh;
}

.content-container {
    margin: auto;
    padding: 0px 7.5vw;
    max-width: 1600px;
}

.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    font-size: clamp(2rem, 0.2222rem + 3.7037vw, 3rem);
    font-weight: 800;
}

.max-height {
    max-height: 5vh;
}

/* Navbar */
nav {
    max-width: 100vw;
}

.brand-container {
    display: flex;
    align-self: center;
}

.nav-container {
    padding: 1vh 0vh;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-self: center;
    list-style-type: none;
}

.nav-menu,
.nav-item {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    font-weight: 700;
}

.nav-item.active > a,
.nav-item.active:hover > a {
    color: var(--polax-orange);
}

.nav-item:hover > a,
.nav-item:focus-within > a {
    color: var(--nav-hover);
}

/* Home */

#hero {
    padding-top: 6vh;
}

#home-title {
    font-size: clamp(2.6rem, 0.3333rem + 5.5556vw, 4.5rem);
    margin: 0;
}

.tagline {
    line-height: 2rem;
    max-width: 50ch;
    font-weight: 400;
    font-size: 1.25rem;
}

#work-text {
    font-size: 0.875rem;
    font-weight: 800;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

#work-text::before {
    display: inline-block;
    position: relative;
    top: -4px;
    content: "";
    width: 6rem;
    height: 2px;
    background-color: #000;
    margin-right: 1rem;
    transition: background-color 0.2s ease-in-out;
}

#work-text:hover,
#work-text:focus-within {
    color: var(--polax-orange);
}

#work-text:hover:before,
#work-text:focus-within:before {
    background-color: var(--polax-orange);
}

.lottie-container {
    display: grid;
    place-items: center;
}

.lottie-container > lottie-player {
    position: relative;
    margin-top: -3vh;
}

/* What we do */

#wwd-title {
    margin-top: 0;
}

.service-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: clamp(5.3125rem, -8.6161rem + 29.0179vw, 9.375rem);
}

.service-title {
    margin: 0;
    margin-top: 4px;
    font-weight: 500;
    font-size: clamp(1rem, 0.1111rem + 1.8519vw, 1.5rem);
}

.service-paragraph {
    margin: 0;
    margin-top: 7px;
    max-width: 30ch;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(0.875rem, 0.4464rem + 0.8929vw, 1rem);
}

.service-wrapper {
    margin-bottom: 5vh;
}

/* Portfolio */

.portfolio-up {
    transform: translateY(-10vh);
    min-height: 20vh;
}

.p-link-wrapper a {
    display: flex;
}

#see-portfolio {
    font-size: 1.25rem;
    margin-top: 0;
    font-weight: 700;
    color: var(--polax-orange);
}

#portfolio-arrow {
    height: 1rem;
    position: relative;
    top: 4px;
    margin-left: 10px;
}

/* Partners */

.partner-tags > h2 {
    margin-bottom: 0;
}

.partner-tags > p {
    margin-top: 0.75rem;
}

.partner-wrapper > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale();
    transition: filter 0.3s;
}

.partner-wrapper > img:hover {
    filter: none;
}

/* Testimonials */

.client-text-wrapper::before {
    display: inline;
    z-index: -1;
    content: url("/assets/images/quote-mark.svg");
    width: 2rem;
    filter: opacity(0.5);
    position: relative;
    top: 6.5rem;
    left: -5.7rem;
}

.client-text-wrapper > h2 {
    margin-bottom: 0;
}

.client-text-wrapper > p {
    margin-top: 10px;
}

#testimonial-tagline {
    max-width: 40ch;
}

#testimonial-offset {
    margin-top: 11rem;
}

.testimonial-box-desktop {
    padding: 2rem;
    box-shadow: 0px 10px 20px rgba(41, 41, 41, 0.15);
    border-radius: 8px;
    max-width: 40ch;
}

.box-margin {
    margin-top: 3rem;
}

.testimonial-paragraph-desktop {
    line-height: 2rem;
    max-width: 40ch;
}

.testimonial-name-desktop {
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 0;
    max-width: 40ch;
}

.testimonial-position-desktop {
    font-weight: 500;
    color: #969bab;
    margin-top: 0;
    max-width: 40ch;
}

.test-img {
    max-width: 100%;
    height: auto;
}

/* Process */

.process-p {
    line-height: 1.625rem;
}

.process-title {
    font-size: clamp(1.125rem, -0.1607rem + 2.6786vw, 1.5rem);
    font-weight: 500;
    margin: 0;
}

/* Portfolio page */

.pf-wrapper {
    margin-bottom: 4rem;
}

#pf-title {
    font-size: 60px;
    line-height: 76px;
    text-align: center;
    margin-top: 0;
}

.pf-img-container {
    width: 100%;
    height: 25vw;
    border-radius: 8px;
    overflow: hidden;
    padding-top: 3.5vw;
}

.pf-img {
    width: 18vw;
    box-shadow: 3px 2px 30px 12px rgba(0, 0, 0, 0.2);
}

.pf-img-left {
    margin-right: -5vw;
}

.pf-img-right {
    margin-left: -5vw;
    padding-top: 5vw;
}

.pf-subtitle {
    font-size: 48px;
    line-height: 64px;
    margin: 0;
}

.pf-type {
    font-size: 38px;
    line-height: 50px;
    color: #c4c4c4;
    margin-top: 0;
}

.pf-text {
    font-size: 1.4rem;
}

.pf-landing .pf-subtitle {
    font-size: clamp(1.125rem, -0.1607rem + 2.6786vw, 1.5rem);
    font-weight: 500;
}

.pf-landing .pf-text {
    font-size: clamp(0.875rem, 0.4464rem + 0.8929vw, 1rem);
    margin-top: 0;
    margin-bottom: 4rem;
}

#p1 {
    background-color: #c7c4f3;
}

#p1 .pf-img {
    box-shadow: none;
    width: 38vw;
}

#p2 {
    background-color: #89efb4;
}

#p3 {
    background-color: #b4e4ff;
}

#p4 {
    background-color: #ffd6b4;
}

#p5 {
    background-color: #ffb4b4;
}
/* Footer */

footer {
    padding-top: 30px;
}

.footer-logo {
    width: 15vw;
    min-width: 150px;
}

.footer-menu-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-menu {
    display: flex;
    align-self: center;
    list-style-type: none;
    padding: 0;
}

.footer-menu .nav-item {
    font-weight: normal;
    line-height: 26px;
}

.footer-menu .nav-item:hover,
.footer-menu .nav-item:focus-within {
    text-decoration: underline;
}

.socials .nav-item:hover,
.socials .nav-item:focus-within {
    text-decoration: none;
    color: var(--polax-orange);
    cursor: pointer;
}

hr {
    background-color: #717171;
    opacity: 0.4;
}

.socials .footer-menu {
    justify-content: flex-end;
}

.socials .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.highlight {
    color: var(--polax-orange);
    font-weight: 500;
}

#wyg-offset {
    padding-left: 1rem;
    padding-right: 1rem;
}

.wyg-title {
    margin-top: 0;
}

/* Contact */

#contact-paragraph {
    font-weight: 700;
    font-size: 1rem;
}

.contact-form {
    margin-bottom: 50px;
}

.contact-form,
.form-wrapper {
    width: 100%;
}

input,
select,
textarea {
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 92%;
    height: 50px;
    margin: 0.8rem 0em;
    padding: 0rem 1rem;
    border: none;
    background-color: var(--form-grey);
    border-radius: 3px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    resize: vertical;
}

select {
    padding-left: 0.8rem;
    padding-right: 1.2rem;
}

input::placeholder,
textarea::placeholder {
    color: #000;
}

#form-description {
    height: 150px;
    padding-top: 1rem;
    font-size: 1rem;
}

#form-submit {
    width: 6rem;
    font-weight: 700;
    color: var(--polax-orange);
    background: var(--orange-bgc);
    transition: background 0.2s ease-in-out;
}

#form-submit:hover,
#form-submit:focus-within {
    cursor: pointer;
    background: rgba(255, 214, 180, 0.8);
}

.form-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-image-wrapper > img {
    width: 400px;
    max-width: 95vw;
    margin-top: 11rem;
}

/* Contact Page */
#contact-hero {
    margin-top: 5vh;
}

#contact-values {
    margin-top: 0;
}

#contact-about {
    margin-bottom: 0.5rem;
    font-weight: 800;
    color: var(--form-green);
    letter-spacing: 2px;
}

#contact-about-para {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2rem;
    max-width: 45ch;
}

#contact-form-link {
    display: inline-flex;
    align-items: center;
}

#contact-form-link > p {
    color: var(--polax-orange);
    font-size: 1.25rem;
    font-weight: 700;
}

#contact-form-link > img {
    position: relative;
    top: 0rem;
}

#thanks-container {
    display: grid;
    place-items: center;
    padding-top: 5vh;
    min-height: 30vh;
    max-height: 1000px;
}

#thanks-container > h1 {
    margin-bottom: 2vh;
}

#thanks-text {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

#go-home {
    background-color: var(--orange-bgc);
    color: var(--polax-orange);
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 5vh;
}

#go-home:hover,
#go-home:focus-within {
    cursor: pointer;
    background: rgba(255, 214, 180, 0.8);
}

/* Media Queries */
@media (min-width: 768px) {
    .text-center-desktop {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #home-title {
        line-height: 4.78125rem;
    }
}

@media (max-width: 767px) {
    .form-image-wrapper > img {
        margin-top: 0;
    }
}

@media (min-width: 1100px) {
    .form-image-wrapper > img {
        width: 500px;
    }
}
@media (max-width: 1200px) {
    #pf-title {
        margin-top: 0;
        font-size: 50px;
        line-height: normal;
    }
    .pf-wrapper {
        margin-bottom: 4rem;
    }
    .pf-subtitle {
        font-size: 38px;
        line-height: normal;
    }
    .pf-type {
        font-size: 28px;
        line-height: normal;
        margin: 0;
    }
    .pf-text {
        font-size: 1.2rem;
    }
}
@media (max-width: 768px) {
    #pf-title {
        font-size: 30px;
    }
    #p1 .pf-img {
        width: 70vw;
    }
    .pf-subtitle {
        padding-top: 1rem;
    }
    .pf-img-container {
        min-height: 200px;
    }
    .pf-img {
        width: 30vw;
    }
    .flipped {
        order: -1;
    }
    .portfolio-up {
        transform: none;
    }
    .pf-landing .pf-text {
        margin-bottom: 2rem;
    }
    .copyright {
        text-align: center;
    }
    .socials .footer-menu {
        justify-content: center;
    }
    #testimonial-offset {
        margin-top: 3rem;
    }
    #testimonial-offset > .testimonial-box-desktop {
        margin-left: auto;
        margin-right: auto;
    }
    .pl-wrapper > .testimonial-box-desktop {
        margin-top: 1rem;
    }
    .client-text-wrapper::before {
        left: 0rem;
    }
    .client-text-wrapper > h2,
    .client-text-wrapper > p {
        margin-left: 2rem;
    }
    .client-text-wrapper > h2 {
        margin-top: 3rem;
    }
    .pl-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1000px) {
    .pl-wrapper {
        padding-left: 0ch !important;
    }
}

@media (min-width: 1800px) {
    .pl-wrapper {
        padding-left: 20ch !important;
    }
}

/* Hero Queries */
@media (min-width: 768px) {
    .lottie-container > lottie-player {
        margin-top: 3vh;
    }
    .pl-wrapper {
        padding-left: 10ch;
    }
}

@media (min-width: 992px) {
    .lottie-container > lottie-player {
        margin-top: -3vh;
        place-items: center end;
    }
}

@media (min-width: 1150px) {
    .lottie-container > lottie-player {
        margin-top: -6vh;
    }
    #home-title {
        margin-top: 0vh;
    }
    #what-we-do {
        margin-top: 0;
    }
}

@media (min-width: 1400px) {
    .lottie-container > lottie-player {
        margin-top: -8vh;
    }
    #home-title {
        margin-top: 6.5vh;
    }
}
