<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog - Polax Digital</title>
        {%include header.html%} {% include googlefonts.html %}
    </head>
    <body>
        {%include navbar.html%}{%include mobilenav.html%}
        <div class="content-container">
            <div class="row" id="blog-row-temp">
                <div class="col-12">
                    <h1 id="home-title">Blog</h1>
                    <p class="tagline">Woah, there's nothing here.</p>
                    <p class="tagline">
                        We're working hard to produce the best content and
                        insights into the digital world. We hope to have
                        something to offer soon.
                    </p>
                </div>
            </div>
        </div>
        {%include footer.html%}
    </body>
</html>
