<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} - Polax Digital</title>
        {% include header.html %}
    </head>
    <body>
        <script>
            function checkCheck() {
                if (document.getElementById("check").checked) {
                    document.getElementById("transitioncheck").checked = true;
                } else {
                    document.getElementById("transitioncheck").checked = false;
                }
            }
        </script>
        {% include navbar.html %} {% include mobilenav.html %}
        <div class="content-container" id="contact-hero">
            <div class="row">
                <div class="col-12 col-md-6">Picture Here</div>
                <div class="col-12 col-md-6">
                    <div id="values-wrapper">
                        <p id="contact-about">ABOUT POLAX</p>
                        <h2 class="subtitle" id="contact-values">Who We Are</h2>
                        <p id="contact-about-para">
                            We're a team with <b>one goal:</b> give your
                            business the tools, advice and solutions to succeed
                            in a digital world and futureproof your brand.<br />
                            We're passionate about what we do and won't settle
                            for disappointing results or low performance.<br /><br />
                            We'd love to hear from you, so fill your details out
                            below or contact us at
                            <a
                                href="mailto:sales@polax.co.uk"
                                class="inline-link"
                                >sales@polax.co.uk</a
                            >
                        </p>
                        <a href="#form" id="contact-form-link">
                            <p id="">Get in touch</p>
                            <img
                                src="/assets/images/arrow-right.svg"
                                alt="Arrow pointing right"
                                id="portfolio-arrow"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% include form.html %} {% include footer.html%}
    </body>
</html>
