<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} - Polax Digital</title>
        {% include header.html %}
    </head>
    <body>
        {% include navbar.html %}
        <div class="content-container" id="contact-hero">
            <div class="row">
                <div class="col-12 col-md-6">Picture Here</div>
                <div class="col-12 col-md-6">
                    <div id="values-wrapper">
                        <p id="contact-about">ABOUT POLAX</p>
                        <h2 class="subtitle" id="contact-values">Our Values</h2>
                        <p id="contact-about-para">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Officiis, dolor placeat! Fugit iure blanditiis
                            cupiditate assumenda unde illo. Aperiam vitae quasi,
                            et magnam praesentium, libero accusantium odit ea
                            magni consequuntur quo voluptas quam reprehenderit
                            soluta doloremque vero perferendis architecto illum!
                        </p>
                        <a href="#form" id="contact-form-link">
                            <p id="">Say hello</p>
                            <img
                                src="/assets/images/arrow-right.svg"
                                alt="Arrow pointing right"
                                id="portfolio-arrow"
                            />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% include form.html %} {% include footer.html%}
    </body>
</html>
