<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }} - Polax Digital</title>

        <link rel="icon" href="/assets/images/favicon.png">

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Della+Respira&family=Montserrat:wght@400;500;700;800&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/bsg.css" />
    </head>
    <body>
        {% include navbar.html %}
        <div id="hero">
            <div class="content-container">
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-5">
                        <h1 id="home-title">{{page.title}}</h1>
                        <p id="tagline">{{page.tagline}}</p>
                        <div class="work-with-us">
                            <a href="/contact">
                                <p id="work-text">WORK WITH US</p></a
                            >
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-7">
                        Some cool image will go here soon.
                    </div>
                </div>
            </div>
        </div>
        <div id="what-we-do" class="section">
            <div class="content-container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="subtitle text-center">What we do</h2>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/webdev.svg"
                                alt="Web Development icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                Web Development
                            </h3>
                            <p class="service-paragraph text-center">
                                Fluid, responsive websites that leave a lasting
                                impression on your clients & visitors
                            </p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/api.svg"
                                alt="API (Application Programming Interface) icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                API Development
                            </h3>
                            <p class="service-paragraph text-center">
                                Robust, scalable APIs which connect your data to
                                the customer
                            </p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/webapps.svg"
                                alt="Web Applications icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                Web Applications
                            </h3>
                            <p class="service-paragraph text-center">
                                Beautiful applications using the latest
                                technology - regardless of its purpose
                            </p>
                        </div>
                    </div>
                    <div class="d-none d-md-block col-md-2"></div>
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/seo.svg"
                                alt="SEO (Search Engine Optimisation) Services icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                SEO Services
                            </h3>
                            <p class="service-paragraph text-center">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Est, dolores.
                            </p>
                        </div>
                    </div>
                    <div class="col-3 d-md-none"></div>
                    <div class="col-6">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/cloud.svg"
                                alt="Web Development icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                Cloud Solutions
                            </h3>
                            <p class="service-paragraph text-center">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Ratione ad quaerat harum!
                            </p>
                        </div>
                    </div>
                    <div class="col-3 col-md-2"></div>
                </div>
            </div>
        </div>
        <div id="our-portfolio" class="section">
            <div class="content-container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h2 class="subtitle">Our Portfolio</h2>
                    </div>
                    <div class="col-12 col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">Portfolio 1 Here</div>
                    <div class="col-12 col-md-6 portfolio-up">
                        Portfolio 2 Here
                    </div>
                    <div class="col-12 col-md-6">Portfolio 3 Here</div>
                    <div class="col-12 col-md-6 portfolio-up">
                        Portfolio 4 Here
                    </div>
                </div>
                <div class="row">
                    <div class="d-none d-md-block col-md-6"></div>
                    <div class="col-12 col-md-6 portfolio-up">
                        <div class="p-link-wrapper">
                            <a href="/portfolio">
                                <p id="see-portfolio">See full portfolio</p>
                                <img
                                    src="/assets/images/arrow-right.svg"
                                    alt="Arrow pointing right"
                                    id="portfolio-arrow"
                            /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="our-partners" class="section">
            <div class="content-container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="subtitle text-center">Our partners</h2>
                        <p class="text-center mt-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="row content-container partner-logos">
                    <div class="col-md-4">
                        <a href="https://www.linode.com/"><img src="/assets/images/partners/linode.png" alt="Linode" 
                                class="mx-auto d-block"/></a>
                    </div>
                    <div class="col-md-4">
                        <a href="https://www.linode.com/"><img src="/assets/images/partners/linode.png" alt="Linode"
                                class="mx-auto d-block" /></a>
                    </div>
                    <div class="col-md-4">
                        <a href="https://www.linode.com/"><img src="/assets/images/partners/linode.png" alt="Linode"
                                class="mx-auto d-block" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="what-you-get" class="section">
            <div class="content-container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="subtitle">What you'll get</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <img src="/assets/images/quote.svg" alt="Your quote"/>
                            </div>
                            <div class="col-10">
                                <h4 class="wyg-title">Your Quote</h4>
                                <p class="wyg-text">Every website, API or application is different - we will work with you to understand exactly what you want and 
                                    <span class="highlight">we'll calculate a price to match.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <img src="/assets/images/design.svg" alt="Your design" />
                            </div>
                            <div class="col-10">
                                <h4 class="wyg-title">Your Design</h4>
                                <p class="wyg-text">We'll sketch out an intial design for your product. Not what you were looking for? We'll redesign it to fit your ideas
                                better,
                                    <span class="highlight">for free.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <img src="/assets/images/product.svg" alt="Your product" />
                            </div>
                            <div class="col-10">
                                <h4 class="wyg-title">Your Product</h4>
                                <p class="wyg-text">We will develop your solution: cooperating with you every step of the way until we have a product 
                                    <span class="highlight">you love!</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <img src="/assets/images/future.svg" alt="Your future" />
                            </div>
                            <div class="col-10">
                                <h4 class="wyg-title">Your Future</h4>
                                <p class="wyg-text">Retaining a relationship is crucial and no one knows the technical aspects of your product better than us. We will offer
                                    <span class="highlight">lifetime updates and support</span>
                                    for your finished solution.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
