<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Polax Digital - {{ page.title }}</title>

        <link rel="icon" href="/assets/images/favicon.png" />

        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Della+Respira&family=Montserrat:wght@400;500;700;800&display=swap"
            rel="stylesheet"
        />

        <script
            src="https://kit.fontawesome.com/99905c1556.js"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://kit.fontawesome.com/99905c1556.js"
            crossorigin="anonymous"
        ></script>

        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/bsg.css" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    </head>
    <body>
        {% include navbar.html %}
        <div id="hero" data-aos="fade-up" data-aos-duration="1000">
            <div class="content-container">
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-5">
                        <h1 id="home-title">{{page.title}}</h1>
                        <p class="tagline">{{page.tagline}}</p>
                        <div class="work-with-us">
                            <a href="/contact">
                                <p id="work-text">WORK WITH US</p></a
                            >
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-7">
                        Some cool image will go here soon.
                    </div>
                </div>
            </div>
        </div>
        <div
            id="what-we-do"
            class="section"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
        >
            <div class="content-container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="subtitle text-center">What we do</h2>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/webdev.svg"
                                alt="Web Development icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                Web Development
                            </h3>
                            <p class="service-paragraph text-center">
                                Fluid, responsive websites that leave a lasting
                                impression on your clients & visitors
                            </p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/api.svg"
                                alt="API (Application Programming Interface) icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                API Development
                            </h3>
                            <p class="service-paragraph text-center">
                                Robust, scalable APIs which connect your data to
                                the customer
                            </p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/webapps.svg"
                                alt="Web Applications icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                Web Applications
                            </h3>
                            <p class="service-paragraph text-center">
                                Beautiful applications using the latest
                                technology - regardless of its purpose
                            </p>
                        </div>
                    </div>
                    <div class="d-none d-md-block col-md-2"></div>
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/seo.svg"
                                alt="SEO (Search Engine Optimisation) Services icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                SEO Services
                            </h3>
                            <p class="service-paragraph text-center">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Est, dolores.
                            </p>
                        </div>
                    </div>
                    <div class="col-3 d-md-none"></div>
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/cloud.svg"
                                alt="Web Development icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                Cloud Solutions
                            </h3>
                            <p class="service-paragraph text-center">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Ratione ad quaerat harum!
                            </p>
                        </div>
                    </div>
                    <div class="col-3 col-md-2"></div>
                </div>
            </div>
        </div>
        <div
            id="our-portfolio"
            class="section"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
        >
            <div class="content-container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h2 class="subtitle">Our portfolio</h2>
                    </div>
                    <div class="col-12 col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">Portfolio 1 Here</div>
                    <div class="col-12 col-md-6 portfolio-up">
                        Portfolio 2 Here
                    </div>
                    <div class="col-12 col-md-6">Portfolio 3 Here</div>
                    <div class="col-12 col-md-6 portfolio-up">
                        Portfolio 4 Here
                    </div>
                </div>
                <div class="row max-height">
                    <div class="d-none d-md-block col-md-6"></div>
                    <div class="col-12 col-md-6 portfolio-up">
                        <div class="p-link-wrapper">
                            <a href="/portfolio">
                                <p id="see-portfolio">See full portfolio</p>
                                <img
                                    src="/assets/images/arrow-right.svg"
                                    alt="Arrow pointing right"
                                    id="portfolio-arrow"
                            /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            id="our-partners"
            class="section"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
        >
            <div class="content-container">
                <div class="row">
                    <div class="col-12 partner-tags">
                        <h2 class="subtitle text-center-desktop">
                            Our partners
                        </h2>
                        <p class="tagline text-center-desktop">
                            {{page.partner-tagline}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="partner-wrapper">
                            <img
                                src="/assets/images/linode.png"
                                alt="Linode Partnership Logo"
                                height="65px"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            id="happy-clients"
            class="section"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
        >
            <div class="content-container">
                <div class="row">
                    <div class="col-12 col-md-6 client-text-wrapper">
                        <h2 class="subtitle">Happy clients</h2>
                        <p class="tagline">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Tenetur blanditiis consectetur corporis,
                            corrupti perferendis ipsa possimus vitae. Quaerat,
                            esse ullam?
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div
            id="what-you-get"
            class="section"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
        >
            <div class="content-container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="subtitle">What you'll get</h2>
                    </div>
                </div>
                <div class="row" id="wyg-offset">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <img
                                    src="/assets/images/quote.svg"
                                    alt="Your quote"
                                />
                            </div>
                            <div class="col-10">
                                <h4 class="process-title">Your Quote</h4>
                                <p class="process-p">
                                    Every website, API or application is
                                    different - we will work with you to
                                    understand exactly what you want and
                                    <span class="highlight"
                                        >we'll calculate a price to match.</span
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <img
                                    src="/assets/images/design.svg"
                                    alt="Your design"
                                />
                            </div>
                            <div class="col-10">
                                <h4 class="process-title">Your Design</h4>
                                <p class="process-p">
                                    We'll sketch out an intial design for your
                                    product. Not what you were looking for?
                                    We'll redesign it to fit your ideas better,
                                    <span class="highlight">for free.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="wyg-offset">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <img
                                    src="/assets/images/product.svg"
                                    alt="Your product"
                                />
                            </div>
                            <div class="col-10">
                                <h4 class="process-title">Your Product</h4>
                                <p class="process-p">
                                    We will develop your solution: cooperating
                                    with you every step of the way until we have
                                    a product
                                    <span class="highlight">you love!</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <img
                                    src="/assets/images/future.svg"
                                    alt="Your future"
                                />
                            </div>
                            <div class="col-10">
                                <h4 class="process-title">Your Future</h4>
                                <p class="process-p">
                                    Retaining a relationship is crucial and no
                                    one knows the technical aspects of your
                                    product better than us. We will offer
                                    <span class="highlight"
                                        >lifetime updates and support</span
                                    >
                                    for your finished solution.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="aos-wrapper"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
        >
            {% include form.html %}
        </div>
        {% include footer.html %}
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>
    </body>
</html>
