<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Polax Digital - {{ page.title }}</title>
        {% include header.html %}
    </head>
    <body>
        {% include navbar.html %}
        <div id="hero">
            <div class="content-container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-5">
                        <h1 id="home-title">{{page.title}}</h1>
                        <p class="tagline">{{page.tagline}}</p>
                        <div class="work-with-us">
                            <a href="#form">
                                <p id="work-text">WORK WITH US</p></a
                            >
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <div class="lottie-container">
                            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                            <lottie-player
                                src="https://assets3.lottiefiles.com/packages/lf20_wft047ej.json"
                                background="transparent"
                                speed="0.7"
                                style="max-width: 750px; max-height: 750px"
                                loop
                                autoplay
                            ></lottie-player>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="what-we-do" class="section">
            <div class="content-container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="subtitle text-center" id="wwd-title">
                            What we do
                        </h2>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/webdev.svg"
                                alt="Web Development icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                Web Development
                            </h3>
                            <p class="service-paragraph text-center">
                                Fluid, responsive websites that leave a lasting
                                impression on your clients & visitors
                            </p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/api.svg"
                                alt="API (Application Programming Interface) icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                API Development
                            </h3>
                            <p class="service-paragraph text-center">
                                Robust, scalable APIs which connect your data to
                                the customer
                            </p>
                        </div>
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/webapps.svg"
                                alt="Web Applications icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                Web Applications
                            </h3>
                            <p class="service-paragraph text-center">
                                Beautiful applications using the latest
                                technology - regardless of its purpose
                            </p>
                        </div>
                    </div>
                    <div class="d-none d-md-block col-md-2"></div>
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/seo.svg"
                                alt="SEO (Search Engine Optimisation) Services icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                SEO Services
                            </h3>
                            <p class="service-paragraph text-center">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Est, dolores.
                            </p>
                        </div>
                    </div>
                    <div class="col-3 d-md-none"></div>
                    <div class="col-6 col-md-4">
                        <div class="service-wrapper">
                            <img
                                src="/assets/images/cloud.svg"
                                alt="Web Development icon"
                                width="150px"
                                class="service-icon"
                            />
                            <h3 class="service-title text-center">
                                Cloud Solutions
                            </h3>
                            <p class="service-paragraph text-center">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Ratione ad quaerat harum!
                            </p>
                        </div>
                    </div>
                    <div class="col-3 col-md-2"></div>
                </div>
            </div>
        </div>
        <div id="our-portfolio" class="section">
            <div class="content-container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <h2 class="subtitle">Our portfolio</h2>
                    </div>
                    <div class="col-12 col-md-6"></div>
                </div>
                <div class="row gx-5">
                    <div class="col-12 col-md-6 pf-landing">
                        <div class="pf-img-container" id="p1">
                            <picture class="d-flex justify-content-center">
                                <!--<source type="image/webp" srcset="/assets/images/webp/dbs.webp">-->
                                <source
                                    type="image/png"
                                    srcset="/assets/images/portfolio/{{  page.p1-image }}.png"
                                />
                                <img
                                    src="/assets/images/portfolio/{{  page.p1-image }}.png"
                                    class="pf-img"
                                    alt="Portfolio Image"
                                />
                            </picture>
                        </div>
                        <h2 class="pf-subtitle">{{ page.p1-title }}</h2>
                        <p class="pf-text">{{ page.p1-description }}</p>
                    </div>
                    <div class="col-12 col-md-6 portfolio-up pf-landing">
                        <div class="pf-img-container" id="p2">
                            <div class="row">
                                <div class="col pf-img-left">
                                    <picture class="d-flex justify-content-end">
                                        <!--<source type="image/webp" srcset="/assets/images/webp/dbs.webp">-->
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p2-image }}.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p2-image }}.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                        />
                                    </picture>
                                </div>
                                <div class="col pf-img-right">
                                    <picture
                                        class="d-flex justify-content-start"
                                    >
                                        <!--<source type="image/webp" srcset="/assets/images/webp/dbs.webp">-->
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p2-image }}2.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p2-image }}2.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                        />
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <h2 class="pf-subtitle">{{ page.p2-title }}</h2>
                        <p class="pf-text">{{ page.p2-description }}</p>
                    </div>
                    <div class="col-12 col-md-6 pf-landing">
                        <div class="pf-img-container" id="p3">
                            <div class="row">
                                <div class="col pf-img-left">
                                    <picture class="d-flex justify-content-end">
                                        <!--<source type="image/webp" srcset="/assets/images/webp/dbs.webp">-->
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p3-image }}.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p3-image }}.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                        />
                                    </picture>
                                </div>
                                <div class="col pf-img-right">
                                    <picture
                                        class="d-flex justify-content-start"
                                    >
                                        <!--<source type="image/webp" srcset="/assets/images/webp/dbs.webp">-->
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p3-image }}2.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p3-image }}2.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                        />
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <h2 class="pf-subtitle">{{ page.p3-title }}</h2>
                        <p class="pf-text">{{ page.p3-description }}</p>
                    </div>
                    <div class="col-12 col-md-6 portfolio-up pf-landing">
                        <div class="pf-img-container" id="p4">
                            <div class="row">
                                <div class="col pf-img-left">
                                    <picture class="d-flex justify-content-end">
                                        <!--<source type="image/webp" srcset="/assets/images/webp/dbs.webp">-->
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p4-image }}.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p4-image }}.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                        />
                                    </picture>
                                </div>
                                <div class="col pf-img-right">
                                    <picture
                                        class="d-flex justify-content-start"
                                    >
                                        <!--<source type="image/webp" srcset="/assets/images/webp/dbs.webp">-->
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p4-image }}2.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p4-image }}2.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                        />
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <h2 class="pf-subtitle">{{ page.p4-title }}</h2>
                        <p class="pf-text">{{ page.p4-description }}</p>
                    </div>
                </div>
                <div class="row max-height">
                    <div class="d-none d-md-block col-md-6"></div>
                    <div class="col-12 col-md-6 portfolio-up">
                        <div class="p-link-wrapper">
                            <a href="/portfolio">
                                <p id="see-portfolio">See full portfolio</p>
                                <img
                                    src="/assets/images/arrow-right.svg"
                                    alt="Arrow pointing right"
                                    id="portfolio-arrow"
                            /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="our-partners" class="section">
            <div class="content-container">
                <div class="row">
                    <div class="col-12 partner-tags">
                        <h2 class="subtitle text-center-desktop">
                            Our partners
                        </h2>
                        <p class="tagline text-center-desktop">
                            {{page.partner-tagline}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="partner-wrapper">
                            <img
                                src="/assets/images/linode.png"
                                alt="Linode Partnership Logo"
                                height="65px"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="happy-clients" class="section">
            <div class="content-container">
                <div class="row">
                    <div class="col-12 col-md-6 client-text-wrapper">
                        <h2 class="subtitle">Happy clients</h2>
                        <p class="tagline" id="testimonial-tagline">
                            {{page.client-tagline}}
                        </p>
                        <div class="pl-wrapper">
                            <div class="testimonial-box-desktop box-margin">
                                <img
                                    src="/assets/images/contentfnnl.png"
                                    alt="Contentfnnl Logo"
                                    width="260"
                                    height="70"
                                    class="test-img"
                                />
                                <p class="testimonial-paragraph-desktop">
                                    They've been nothing but professional and
                                    always happy to go the extra mile.<br /><br />They're
                                    a competent web development business who
                                    have been taking the lead to support the
                                    development across numerous build projects.
                                </p>
                                <p class="testimonial-name-desktop">
                                    Greig Dowling
                                </p>
                                <p class="testimonial-position-desktop">CEO</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6" id="testimonial-offset">
                        <div class="testimonial-box-desktop">
                            <img
                                src="/assets/images/webp/cardanfire.webp"
                                alt="Cardan Fire Logo"
                                width="260"
                                height="50"
                                class="test-img"
                            />
                            <p class="testimonial-paragraph-desktop">
                                Very professional, attentive and
                                receptive...nothing was too much trouble for
                                Daniel and the team. We are very pleased with
                                the output and are comfortable and confident
                                that any future tweaks will not be of issue.
                            </p>
                            <p class="testimonial-name-desktop">Stuart</p>
                            <p class="testimonial-position-desktop">Director</p>
                        </div>
                        <div class="testimonial-box-desktop box-margin">
                            <img
                                src="/assets/images/webp/dbs.webp"
                                alt="DBS Logo"
                                width="120"
                                height="auto"
                                class="test-img"
                            />
                            <p class="testimonial-paragraph-desktop">
                                Great service and highly recommended team of talented developers. 
                                Polax have helped deliver many projects for me over the past year.
                            </p>
                            <p class="testimonial-name-desktop">Ersen Salih</p>
                            <p class="testimonial-position-desktop">Managing Partner</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="what-you-get" class="section">
            <div class="content-container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="subtitle">What you'll get</h2>
                    </div>
                </div>
                <div class="row" id="wyg-offset">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <img
                                    src="/assets/images/quote.svg"
                                    alt="Your quote"
                                />
                            </div>
                            <div class="col-10">
                                <h4 class="process-title">Your Quote</h4>
                                <p class="process-p">
                                    Every website, API or application is
                                    different - we will work with you to
                                    understand exactly what you want and
                                    <span class="highlight"
                                        >we'll calculate a price to match.</span
                                    >
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <img
                                    src="/assets/images/design.svg"
                                    alt="Your design"
                                />
                            </div>
                            <div class="col-10">
                                <h4 class="process-title">Your Design</h4>
                                <p class="process-p">
                                    We'll sketch out an intial design for your
                                    product. Not what you were looking for?
                                    We'll redesign it to fit your ideas better,
                                    <span class="highlight">for free.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="wyg-offset">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <img
                                    src="/assets/images/product.svg"
                                    alt="Your product"
                                />
                            </div>
                            <div class="col-10">
                                <h4 class="process-title">Your Product</h4>
                                <p class="process-p">
                                    We will develop your solution: cooperating
                                    with you every step of the way until we have
                                    a product
                                    <span class="highlight">you love!</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <img
                                    src="/assets/images/future.svg"
                                    alt="Your future"
                                />
                            </div>
                            <div class="col-10">
                                <h4 class="process-title">Your Future</h4>
                                <p class="process-p">
                                    Retaining a relationship is crucial and no
                                    one knows the technical aspects of your
                                    product better than us. We will offer
                                    <span class="highlight"
                                        >lifetime updates and support</span
                                    >
                                    for your finished solution.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%include form.html%} {% include footer.html %}
    </body>
</html>
