<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }} - Polax Digital</title>
        {% include header.html %}
    </head>
    <body>
        {% include navbar.html %} {% include mobilenav.html %}
        <div id="hero">
            <div class="content-container">
                <h1 id="pf-title">
                    We've worked with these fantastic companies to provide
                    innovative web-based solutions.
                </h1>
            </div>
        </div>

        <div class="content-container">
            <div class="pf-wrapper">
                <div class="row">
                    <div class="col-md-6 order-md-first">
                        <div class="pf-img-container" id="p1">
                            <picture class="d-flex justify-content-center">
                                <source type="image/webp" srcset="/assets/images/webp/portfolio/{{ page.p1-image }}.webp">
                                <source
                                    type="image/png"
                                    srcset="/assets/images/portfolio/{{  page.p1-image }}.png"
                                />
                                <img
                                    src="/assets/images/portfolio/{{  page.p1-image }}.png"
                                    class="pf-img"
                                    alt="Portfolio Image"
                                    height="500"
                                    width="1000"
                                />
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-last">
                        <h2 class="pf-subtitle">{{ page.p1-title }}</h2>
                        <h2 class="pf-type">{{ page.p1-type }}</h2>
                        <p class="pf-text">{{ page.p1-description }}</p>
                        <div class="p-link-wrapper">
                            <a href="{{ page.p1-link }}">
                                <p id="see-portfolio">SEE PROJECT</p>
                                <img
                                    src="/assets/images/arrow-right.svg"
                                    alt="Arrow pointing right"
                                    id="portfolio-arrow"
                                    height="25"
                                    width="16"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pf-wrapper">
                <div class="row">
                    <div class="col-md-6 order-md-12">
                        <h2 class="pf-subtitle">{{ page.p2-title }}</h2>
                        <h2 class="pf-type">{{ page.p2-type }}</h2>
                        <p class="pf-text">{{ page.p2-description }}</p>
                        <div class="p-link-wrapper">
                            <a href="{{ page.p2-link }}">
                                <p id="see-portfolio">SEE PROJECT</p>
                                <img
                                    src="/assets/images/arrow-right.svg"
                                    alt="Arrow pointing right"
                                    id="portfolio-arrow"
                                    height="25"
                                    width="16"
                                />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-1 flipped">
                        <div class="pf-img-container" id="p2">
                            <div class="row">
                                <div class="col pf-img-left">
                                    <picture class="d-flex justify-content-end">
                                        <source type="image/webp" srcset="/assets/images/webp/portfolio/{{ page.p2-image }}.webp">
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p2-image }}.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p2-image }}.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                            height="750"
                                            width="480"
                                        />
                                    </picture>
                                </div>
                                <div class="col pf-img-right">
                                    <picture
                                        class="d-flex justify-content-start"
                                    >
                                        <source type="image/webp" srcset="/assets/images/webp/portfolio/{{ page.p2-image }}2.webp">
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p2-image }}2.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p2-image }}2.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                            height="750"
                                            width="480"
                                        />
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pf-wrapper">
                <div class="row">
                    <div class="col-md-6 order-md-first">
                        <div class="pf-img-container" id="p3">
                            <div class="row">
                                <div class="col pf-img-left">
                                    <picture class="d-flex justify-content-end">
                                        <source type="image/webp" srcset="/assets/images/webp/portfolio/{{ page.p3-image }}.webp">
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p3-image }}.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p3-image }}.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                            height="750"
                                            width="480"
                                        />
                                    </picture>
                                </div>
                                <div class="col pf-img-right">
                                    <picture
                                        class="d-flex justify-content-start"
                                    >
                                        <source type="image/webp" srcset="/assets/images/webp/portfolio/{{ page.p3-image }}2.webp">
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p3-image }}2.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p3-image }}2.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                            height="750"
                                            width="480"
                                        />
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-last">
                        <h2 class="pf-subtitle">{{ page.p3-title }}</h2>
                        <h2 class="pf-type">{{ page.p3-type }}</h2>
                        <p class="pf-text">{{ page.p3-description }}</p>
                        <div class="p-link-wrapper">
                            <a href="{{ page.p3-link }}">
                                <p id="see-portfolio">SEE PROJECT</p>
                                <img
                                    src="/assets/images/arrow-right.svg"
                                    alt="Arrow pointing right"
                                    id="portfolio-arrow"
                                    height="25"
                                    width="16"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pf-wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="pf-subtitle">{{ page.p4-title }}</h2>
                        <h2 class="pf-type">{{ page.p4-type }}</h2>
                        <p class="pf-text">{{ page.p4-description }}</p>
                        <div class="p-link-wrapper">
                            <a href="{{ page.p4-link }}">
                                <p id="see-portfolio">SEE PROJECT</p>
                                <img
                                    src="/assets/images/arrow-right.svg"
                                    alt="Arrow pointing right"
                                    id="portfolio-arrow"
                                    height="25"
                                    width="16"
                                />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 flipped">
                        <div class="pf-img-container" id="p4">
                            <div class="row">
                                <div class="col pf-img-left">
                                    <picture class="d-flex justify-content-end">
                                        <source type="image/webp" srcset="/assets/images/webp/portfolio/{{ page.p4-image }}.webp">
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p4-image }}.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p4-image }}.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                            height="550"
                                            width="480"
                                        />
                                    </picture>
                                </div>
                                <div class="col pf-img-right">
                                    <picture
                                        class="d-flex justify-content-start"
                                    >
                                        <source type="image/webp" srcset="/assets/images/webp/portfolio/{{ page.p4-image }}2.webp">
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p4-image }}2.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p4-image }}2.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                            height="750"
                                            width="480"
                                        />
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pf-wrapper">
                <div class="row">
                    <div class="col-md-6 order-md-first">
                        <div class="pf-img-container" id="p5">
                            <div class="row">
                                <div class="col pf-img-left">
                                    <picture class="d-flex justify-content-end">
                                        <source type="image/webp" srcset="/assets/images/webp/portfolio/{{ page.p5-image }}.webp">
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p5-image }}.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p5-image }}.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                            height="750"
                                            width="480"
                                        />
                                    </picture>
                                </div>
                                <div class="col pf-img-right">
                                    <picture
                                        class="d-flex justify-content-start"
                                    >
                                        <source type="image/webp" srcset="/assets/images/webp/portfolio/{{ page.p5-image }}2.webp">
                                        <source
                                            type="image/png"
                                            srcset="/assets/images/portfolio/{{  page.p5-image }}2.png"
                                        />
                                        <img
                                            src="/assets/images/portfolio/{{  page.p5-image }}2.png"
                                            class="pf-img"
                                            alt="Portfolio Image"
                                            height="750"
                                            width="480"
                                        />
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-last">
                        <h2 class="pf-subtitle">{{ page.p5-title }}</h2>
                        <h2 class="pf-type">{{ page.p5-type }}</h2>
                        <p class="pf-text">{{ page.p5-description }}</p>
                        <div class="p-link-wrapper">
                            <a href="{{ page.p5-link }}">
                                <p id="see-portfolio">SEE PROJECT</p>
                                <img
                                    src="/assets/images/arrow-right.svg"
                                    alt="Arrow pointing right"
                                    id="portfolio-arrow"
                                    height="25"
                                    width="16"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
