<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title}} - Polax Digital</title>
        {%include header.html %}
        
        <meta property="og:title" content="{{page.title}}">
        <meta property="og:site_name" content="Polax Digital">
        <meta property="og:url" content="https://polax.co.uk{{page.permalink}}">
        <meta property="og:description" content="{{page.description}}">
        <meta property="og:type" content="article">
        <meta property="og:image" content="https://polax.co.uk{{page.post-image}}">
        
    

    </head>
    <body>
        {%include navbar.html %}{%include mobilenav.html %}
        <div class="content-container">
            <div class="row">
                <div class="col-12 mt-3 mb-5">
                    <h1 id="home-title" class="text-center">{{page.title}}</h1>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <img class="post-img" src="{{page.post-image}}" alt="{{page.post-img-alt}}">
                </div>
            </div> -->
            <div class="row mt-5">
                <div class="col-12">
                    <div class="blog-container">{{page.content}}</div>
                </div>
            </div>
        </div>
        {%include footer.html %}
    </body>
</html>
